@import './fonts.scss';
@import './variables.scss';
@import './typography.scss';

@import './picker.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // font-family: 'AlbertSansRegular', sans-serif;
  font-family: 'OutfitRegular', sans-serif;

  color: $color-white;
}

body {
  background: #000;
}

.webglContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  canvas {
    width: 100%;
    height: 100%;
    outline: none;
  }
}

.intro-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.5);

  // max-width: 400px;
  margin: 0 auto;
  // border: 2px solid #fff;
  padding: 3em 0;
  // border-radius: 10px;
  text-align: center;
  box-sizing: border-box;

  pointer-events: none;
}

fieldset {
  padding: 1em 0;
  border: 0;
}

legend {
  width: 100%;
  color: #fff;
  text-align: center;
}

select {
  appearance: none;
  height: 40px;
  margin: 0;
  padding: 0.25em;
  border: none;
  background: #fff;
  border-radius: 4px;
  font-size: 18px;
  color: #8a97a0;

  text-align: center;
}

select ~ select {
  margin-left: 1em;
}

label {
  position: absolute;
  left: -9999px;
}

#result-days {
  min-height: 64px;
}

select, input, .date-picker {
  pointer-events: all;
}

select, input, button, textarea {
  background: $color-black;
  box-shadow: none;
  border: none;
  color: $color-white;
}

.button {
  cursor: pointer;
  padding: 0.25rem 1.25rem;
  font-size: 1.5rem;
  height: 3rem;
  letter-spacing: 0.1;

  border: 1px solid #b5b5b5;
  border-radius: 7px;

  transition: all 0.17s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  margin-bottom: 1.5rem;
}

// datgui. Hide or show
.dg.ac {
  display: none;
}

fieldset {
  margin-bottom: 2rem;
}