@import './variables.scss';
@import './typography.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;

  color: $color-white;
}

body {
  background: #000;
}

.webglContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  canvas {
    width: 100%;
    height: 100%;
    outline: none;
  }
}

.intro-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.5);

  // max-width: 400px;
  margin: 0 auto;
  // border: 2px solid #fff;
  padding: 3em 0;
  // border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

fieldset {
  padding: 1em 0;
  border: 0;
}

legend {
  width: 100%;
  color: #fff;
  text-align: center;
}

select {
  appearance: none;
  height: 40px;
  margin: 0;
  padding: 0.25em;
  border: none;
  background: #fff;
  border-radius: 4px;
  font-size: 18px;
  color: #8a97a0;
}

select ~ select {
  margin-left: 1em;
}

label {
  position: absolute;
  left: -9999px;
}