


h1, h2 {
  font-family: 'OutfitBold', sans-serif;

  // background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  background: -webkit-linear-gradient(45deg, #004a9f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.35;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

select, input, button, textarea {
  font-family: 'OutfitRegular', sans-serif;
}

legend p {
  font-size: 1.5rem;
}

.text--grey {
  color: #c7c7c7;
}